﻿@model IEnumerable<Yemekci.Models.Uye>

@{
    ViewBag.Title = yemekci.Resources.lang.Uyeler;
}

<h2>@yemekci.Resources.lang.Uyeler</h2>
<table class="table">
    <tr>
        <th>
            @yemekci.Resources.lang.Ad
        </th>
        <th>
            @yemekci.Resources.lang.Soyad
        </th>
        <th>
            @yemekci.Resources.lang.Eposta
        </th>
        <th>
            @yemekci.Resources.lang.Sifre
        </th>
        <th>
            @yemekci.Resources.lang.Rutbe
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eposta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rutbe)
        </td>
        <td>
            @Html.ActionLink(yemekci.Resources.lang.Duzenle, "Edit", new { id=item.ID }) |
            @Html.ActionLink(yemekci.Resources.lang.Detaylar, "Details", new { id=item.ID }) |
            @Html.ActionLink(yemekci.Resources.lang.Sil, "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
