﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<Yemekci.Models.Urun>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <hr />
    <div class="row">
        @if (Model.Count() == 0)
        {
            <div class="row text-center"><h1>Aranan sonuç bulunamadı.</h1></div>
        }
        @foreach (var i in Model)
        {
            <div class="col-sm-4 col-xs-6 col-md-3 text-center">
                <div class="thumbnail">
                    <a href="@Url.Action("UrunDetay/"+@Html.DisplayFor(item => i.ID))"><img src=@Html.DisplayFor(item => i.ResimYol) class="img-responsive" alt="..."></a>
                    <div class="caption">
                        <h3>@Html.DisplayFor(item => i.Ad)</h3>
                        <b>@Html.DisplayFor(item => i.Detay)</b>
                        <p><span class="label label-success">@Html.DisplayFor(item => i.Fiyat) TL</span></p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="pagedList row text-center">
        @Html.PagedListPager(Model, sayfa => Url.Action("Arama/" + ViewBag.aranan + "/" + sayfa), PagedListRenderOptions.PageNumbersOnly)
    </div>

</body>
</html>
