﻿@{
    ViewBag.Title = "Yemekci";
}

<hr />
<div class="row">
    <div class="col-md-3 col-xs-12">
        @RenderPage("~/Views/Home/Kategori.cshtml")
        <hr />
    </div>

    <div class="col-md-9 col-xs-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://wafflepink.com/images/urunler/kahvalti_b.jpg" width="1000" height="600" alt="...">
                    <div class="carousel-caption">
                    
                    </div>
                </div>
                <div class="item">
                    <img src="http://static.flickr.com/54/146792045_d2b063691c_o.jpg" width="1000" height="600" alt="...">
                    <div class="carousel-caption">
                        <h3>Omlet</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="http://panel.enkobi.net/FirmaResimleri/3235_web_menemen-kalorisikac.jpg" width="1000" height="600" alt="...">
                    <div class="carousel-caption">
                        <h3>Menemen</h3>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
