﻿@{
    ViewBag.Title = "Kategori";
}

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="Urunler/Pizza/1">@yemekci.Resources.lang.Pizza</a>
                    </h4>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="Urunler/Doner/1">@yemekci.Resources.lang.Doner</a>
                    </h4>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="Urunler/Hamburger/1">@yemekci.Resources.lang.Hamburger</a>
                    </h4>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="Urunler/Kebap/1">@yemekci.Resources.lang.Kebap</a>
                    </h4>
                </div>
            </div>

        </div>
